.info{
  background-color: #A1DBF0;
  padding: 10px 24px;
  margin: 8px;
  color:black;
}

.acc{
  background-color: #BBBBBB;
  padding: 10px 24px;
  margin: 8px;
  color:black;
}

.acc>*{
  margin: 4px;
}

.selected{
  background-color: #45EE50
}
