

<div class="row" *ngIf='_accounts.length ==0'>
<div class="alert alert-info">
  <strong>You don't have a account {{_accounts.length}},
   Please add a account
 </strong>
</div>
 </div>
<div class ="row">
  <div class="acc col-md-12" *ngFor="let acc of _accounts, let i=index"
  >

    <h2>{{acc.title}} ({{acc.id}}) </h2>
    <p>{{acc.description}}</p>
    <p>Balance: <strong class="lead"> {{acc.balance}} </strong> </p>

    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-danger" (click)="_remove(i)"> Delete</button>
<!--
        <button class="btn btn-primary" (click) ="select(i)"> {{_selected[i]?
          'Deselect' : 'Select'}} </button>
-->
      </div>
    </div>

  </div>
</div>
